* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom right, rgba(6, 3, 20, 0.950), rgba(14, 1, 20, 0.950)), url(./Images/background-keyboard.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #c9c8d1;
    font-family: 'Fira Sans';
}

img {
    max-width: 100%;
    margin-left: 3%;
}

.socials {
    display: flex;
    margin: .5% 0 0 90%;
    padding-right: .5rem;
    gap: .3rem;
}

.logo {
    position: fixed;
    max-width: 5%;
    margin-top: 2%;
    left: 0;
}

.face {
    max-width: 15%;
    margin: 2% 0 0 42%;
    border-radius: 1rem;
}

p {
    display: flex;
    align-content: center;
    width: 40%;
    margin: 2% 0 0 30%;
    font-size: 1.2em;
}

hr {
    visibility: hidden;
}

.dropdown {
    display: inline-block;
    position: absolute;
    width: 3rem;
    top: 50%;
    right: 0;
}

.drop-btn {
    background-color: #c9c8d1;
    display: grid;
    width: 2.6rem;
    height: .5rem;
    right: 0;
    margin: .3rem 0rem;
    border-width: .13rem;
    border-color: #b4b3bb;
    }
    .drop-btn:nth-child(1) {
        border-radius: .4rem 0 0 0;
    }
    .drop-btn:nth-child(3) {
        border-radius: 0 0 0 .4rem;
}

.drop-content {
    background-color: #250b38;
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    min-width: 20rem;
    max-width: 20rem;
    padding-top: 5%;
}

.drop-content a {
    color: black;
    display: block;
    text-align: center;
    padding: 4rem 0rem;
    font-size: 2.5em;
    font-weight: 700;
    text-decoration: none;
    }
    .drop-content a:hover {
        background-color: #c9c8d13d;
}

.dropdown:hover .drop-content {
    display: block;
}
