@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    /* Calculator Colors */
    /* Background */
    --main-background: hsl(268, 74%, 9%, 0.4);
    --keypad-background: hsla(268, 70%, 12%, 0.4);
    --screen-background: hsla(268, 70%, 12%, 0.4);
    /* Keys */
    --key-background: hsl(261, 58%, 29%);
    --key-shadow: hsl(259, 61%, 20%);
    --del-reset-background: hsl(258, 63%, 23%);
    --del-reset-shadow: hsl(258, 61%, 16%);
    --equals-background: hsl(239, 58%, 23%);
    --equals-shadow: hsl(240, 57%, 16%);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom right, rgba(6, 3, 20, 0.950), rgba(14, 1, 20, 0.950)), url(./Images/background-texture.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #c9c8d1;
    font-family: 'Fira Sans';
}
/* Scrollbar Styling */
::-webkit-scrollbar {
    width: .7em;
}

::-webkit-scrollbar-track {
    border-radius: 100vw;
    margin-block: .1em;
}

::-webkit-scrollbar-thumb {
    background-color: #726d75;
    border: .1em solid white;
    border-radius: 100vw;
}
/* Various Fixed Elements */
img {
    max-width: 100%;
    margin-left: 3%;
}

.header {
    display: flex;
    margin: .5% 0 0 75%;
    padding-right: .5rem;
    gap: .3rem;
}

.logo {
    position: fixed;
    max-width: 6%;
    min-width: 36px;
    margin-top: 2%;
    left: 0;
}

.github {
    position: fixed;
    min-width: 36px;
    width: 5%;
    left: 0;
    bottom: 5%;
}
/* Portrait */
.face {
    display: flex;
    width: 15%;
    margin: 5% auto 0 auto;
}
/* Language Switch */
.lang-switch .content {
    display: none;
}

.lang-switch .content.contentnorsk {
    display: block;
}

.no,
.en,
.check {
    display: inline-flex;
}

.no {
    margin: 1% auto 0 44%;
}

.check {
    width: 2.5rem;
}

.check:before {
    background: #000;
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 1rem;
    border-radius: 1rem;
}

.check:checked::before {
    background: #fff;
}

.check:after {
    background: rgba(3, 1, 14, 0.95);
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    border: solid .1rem #c9c8d1;
    transition: 250ms;
}

.check:checked::after {
    left: 49.6%;
    border: solid .1rem #c9c8d1;
}

.check:checked ~ .content.contentnorsk {
    display: none;
}

.check:checked ~ .content.contentenglish {
    display: block;
}
/* Jump to sections */
.checkpoint {
    background: none;
    color: inherit;
    display: inline-flex;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-style: none;
    cursor: pointer;
}

.checkpoint:hover {
    color: #655a7e;
    outline: none;
}

#about-me {
    margin-left: 75%;
}
/* Text */
h1 {
    display: flex;
    justify-content: center;
    margin: 8% 0 1% 0;
    font-size: clamp(1rem, 1rem + 5vw, 3rem);
    font-weight: 800;
}

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    font-size: clamp(1rem, 1rem + 4.5vw, 2.5rem);
}

p {
    display: flex;
    justify-content: center;
    margin: 0 .5rem .4rem .5rem;
    font-size: clamp(.5rem, .3rem + 4vw, 1.4rem);
}
/* About Me */
.about {
    margin-top: 3%;
}

.about-content {
    text-align: center;
    font-size: clamp(.5rem, .3rem + 4vw, 1.4rem);
}
/* My Works */
.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5% auto 5% auto;
}

.perspective {
    perspective: 70rem;
}

.demo {
    display: flex;
    flex-direction: row-reverse;
    justify-self: center;
    align-self: flex-start;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Pokeball */
.ball {
    background: white;
    position: relative;
    width: 13rem;
    height: 13rem;
    margin: 5% 0 0 180%;
    border: .6rem solid black;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -1rem 1rem 0 1rem rgb(230, 227, 227);
    animation: shake 1000ms cubic-bezier(.5,.1,.2,1) 3;
    transform: rotateY(-20deg);
}

.ball::before {
    background: var(--del-reset-background);
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    border-radius: 50% 50% 0 0;
}

.ball::after {
    background: linear-gradient(black, rgb(8, 8, 8), black) black;
    content: "";
    position: absolute;
    width: 100%;
    height: 8%;
    top: calc(50% - .5rem);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.8);
}

.button {
    background: darkgrey;
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
    border: .6rem solid black;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.inner-button {
    background: grey;
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    border: .2rem solid dimgrey;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.8);
    animation: 500ms blink 50ms alternate 7;
}

@keyframes blink {
    from { background: grey;}
    to { background: indianred;}
}

@keyframes shake {
    0% { transform: translate(0, 0) rotate(0); }
    50% { transform: translate(-10px, 0) rotate(-15deg); }
    100% { transform: translate(0, 0) rotateY(-30); }
}
/* Calculator Section */
.calculator {
    margin: auto;
    max-width: 24rem;
    margin: 5% 0 0 32%;
    transform: rotateY(-40deg);
}
/* General Button Styling */
button:not(.checkpoint, .top) {
    color: rgb(200, 200, 200);
    padding: 1.1rem 0.25rem;
    font-family: 'Spartan', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 50ms ease-in-out;
}

button:hover,
.result-screen:hover {
    outline: 2px solid #7b6992
}
/* Specific Button Styling */
.number,
.operator,
.decimal {
    background-color: var(--key-background);
    box-shadow: 0 4px 0 var(--key-shadow);
    width: 70px;
    height: 50px;
}

.del,
.reset {
    background-color: var(--del-reset-background);
    box-shadow: 0 4px 0 var(--del-reset-shadow);
    height: 50px;
    font-size: 1.25rem;
    letter-spacing: 2px;
}

.del {
    width: 70px;
}

.equal {
    background-color: var(--equals-background);
    color: rgb(255, 255, 255);
    box-shadow: 0 3px 0 var(--equals-shadow);
    height: 50px;
    font-size: 1.25rem;
    letter-spacing: 2px;
}
/* Display */
.result-container {
    height: 4rem;
}
  
.result-screen {
    background-color: var(--screen-background);
    color: rgb(200, 200, 200);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    font-size: 2rem;
    border-radius: .8rem;
}
/* Input */
.input-container {
    background-color: var(--keypad-background);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1.5rem;
    border-radius: 10px;
    gap: 1rem;
    }
    .reset {
        grid-column: 1 / 3;
    }
    .equal {
        grid-column: 3 / -1;
}
/* Contact Section */
.contact {
    margin: 4% 0 0 0;
}
/* Contact Form */
.form {
    background-color: var(--keypad-background);
    max-width: 35%;
    min-width: 18rem;
    margin: 2% auto 5% auto;
    padding: 1rem;
    font-weight: 600;
    border-radius: .5rem;
}

input[type=text], select, textarea {
    width: 100%;
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid rgb(179, 168, 187);
    border-radius: .3rem;
    resize: vertical;
}

input[type=text] {
    height: 2.5rem;
}

.description {
    height: 8rem;
    font-weight: 700;
}

input[type=submit] {
    background-color: #46209e;
    color: #eae9f0;
    padding: .8rem 1.2rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #391a83;
}
/* Scroll Up Button */
.top{
    color: rgb(194, 193, 193);
    display: inline-block;
    position: fixed;
    right: 8%;
    bottom: 16%;
    border-color:white;
    transition: all 200ms ease-out;
  }
  .top::before{
    content: '▲';
    position:absolute;
    width: 4rem;
    height: 4rem;
    font-size: 3.3rem;
    line-height: 3.4rem;
    border: solid .2rem rgb(175, 175, 175);
    border-radius: 10rem;
    border-color: inherit;
    transition: transform 500ms ease-in;
  }
  .top:hover{
    color: #655a7e;
    border-color: #655a7e;
  }
  .top:hover::before{
    transform: rotate(360deg);
}
/* Media Queries */
@media (min-width: 2560px) {
    .no {
        margin: 1% auto 0 46.8%;
    }
    .ball {
        width: 16rem;
        height: 16rem;
        margin: 5% 0 0 360%;
    }
    .button {
        width: 5rem;
        height: 5rem;
        top: calc(50% - 2.5rem);
        left: calc(50% - 2.5rem);
    }
    .inner-button {
        width: 2.8rem;
        height: 2.8rem;
        top: calc(50% - 1.4rem);
        left: calc(50% - 1.4rem);
    }
    .calculator {
        max-width: 28rem;
        margin: 5% 0 0 38%;
    }
    button:not(.checkpoint, .top) {
        padding: 1.3rem 0.5rem;
        font-size: 1.4rem;
    }
    .number,
    .operator,
    .decimal {
        width: 80px;
        height: 56px;
        line-height: 80%;
    }
    .del,
    .reset,
    .equal {
        height: 56px;
        line-height: 80%;
    }
    .del {
        width: 80px;
    }
    .form {
        max-width: 700px;
    }
    .github {
        max-width: 6rem;
    }
}

@media (min-width: 1920px) {
    .ball {
        margin: 5% 0 0 330%;
    }
    .calculator {
        margin: 5% 0 0 36%;
    }
    .top::before {
        width: 5.8rem;
        height: 5.8rem;
        font-size: 4.4rem;
        line-height: 5rem;
    }
    .top {
        bottom: 14%;
    }
}

@media (max-width: 1920px) {
    .no {
        margin: 1% auto 0 46%;
    }
    .github {
        max-width: 6rem;
    }
}

@media (max-width: 1240px) {
    .no {
        margin: 1% auto 0 42%;
    }
    #about-me {
        margin-left: 69%;
    }
}

@media (max-width: 1080px) {
    .projects {
        flex-direction: column;
    }
    .ball {
        margin: 20% 0 0 0;
        transform: rotateY(0);
    }
    .calculator {
        margin: 2% 0 0 0;
        transform: rotateY(0);
    }
    .top {
        right: 9%;
        bottom: 15%;
    }
    .top::before {
        width: 3.6rem;
        height: 3.6rem;
        font-size: 3rem;
        line-height: 3rem;
    }
}

@media (max-width: 900px) {
    .no {
        margin: 1% auto 0 40%;
    }
    .checkpoint {
        display: none;
    }
    .top {
        right: 10%;
        bottom: 13%;
    }
    .top::before {
        width: 3.2rem;
        height: 3.2rem;
        font-size: 2.6rem;
        line-height: 2.8rem;
    }
}

@media (max-width: 670px) {
    .logo {
        position: absolute;
    }
    .no {
        margin: 1% auto 0 38%;
    }
    .top {
        right: 12%;
        bottom: 12%;
    }
    .top::before {
        width: 2.8rem;
        height: 2.8rem;
        font-size: 2.2rem;
        line-height: 2.4rem;
    }
}

@media (max-width: 420px) {
    .no {
        margin: 1% auto 0 32%;
    }
    .calculator {
        width: max(95%, 300px);
    }
    .number,
    .operator,
    .decimal,
    .del,
    .reset,
    .equal {
        width: auto
    }
    .top::before {
        display: none;
    }
}
